<div class="jumbotron">
  <h1>Choose a survey to take!</h1>
</div>

<% if @surveys.any?() %>
  <h2>Here are the surveys.</h2>
  <h3>Click on a survey to take it.</h3>

    <ul class="well">
      <% @surveys.each() do |survey| %>
        <p><a class="btn btn-primary" href="/take_survey/<%= survey.id()%>"><%= survey.title() %></a></p>
      <% end %>
    </ul>

<% else %>
 <p>There are no surveys yet!</p>
<% end %>
<br>
<br>
<a class="btn btn-info" href="/">Go Back</a>
