<h1><strong>Are you sure you want to delete this survey?</strong></h1>
<h2><%= @survey.title() %></h2>

<form action="/delete_survey" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="current_survey_id" id="current_survey_id" value="<%= @survey.id() %>">
  <button class="btn btn-danger" type="submit">Delete!</button>
</form>
<br>
<h2>_____________________________</h2>
<br>
<br>
<a class="btn btn-success" href="/">No, take me home.</a>
